@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  @apply bg-primary
}



::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-light rounded-md
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-opacity-75
}